@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://use.fontawesome.com/releases/v5.0.10/css/all.css');

header {
  color: rgb(255, 255, 255);
  background-color: rgb(36, 41, 46);
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

body {
  background-color: rgb(246, 248, 250);
  font-family: 'Roboto', sans-serif;
  color: rgb(36, 41, 46);
  font-size: 14px;
  line-height: 1.5;
  text-align: center; /*temporary*/
}

h1, h2, h3, h4 {
  margin: 16px 0px;
}

p {
  text-align: justify; 
}

img {
  text-align: center;
  border-radius: 50%;
  width: 150px;
}

article {
  overflow: auto;
}

ul {
  position: relative;
  padding: 0px 20px;
}

li {
  list-style-type: circle;
}

.container {
  width: 70%;
  margin: 40px auto;
}

.card {
  background: white;
  padding: 32px;
  margin: 40px 0px;
  border-radius: 3px;
  border: 1px solid rgb(209, 213, 218);
  box-shadow: 5px 5px 20px lightgrey;
}

.follow h2 {
  margin: 0px 0px 16px 0px;
}

.follow {
  list-style: none;
  padding-left: 0px;
  margin: 16px 0px 0px 0px;
  text-align: center;
}

.follow i {
  font-size: 40px;
}

.follow li {
  display: inline;
  padding: 0px 20px;
}

.follow li a {
  color: rgb(36, 41, 46);
  text-decoration: none;
}

.follow li a:hover {
  opacity: 50%;
}

.subjects {
  display: inline-block;
  vertical-align: text-top;
  width: 30%;
  max-width: 350px;
  margin: 0px 20px 0px 0px;
}

.button {
  display: block;
  width: 70px;
  padding: 10px;
  margin: 16px auto 0px;
  color: rgb(36, 41, 46);
  font-weight: bold;
  background-color: white;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 3px;
  text-decoration: none;
}

.button:hover {
  color: white;
  background-color: rgb(36, 41, 46);
}